/* Custom CSS */

/* o uso do * se aplica a tudo no html */
* {
    margin:0;
    padding: 0;
}
body {
    background: #4d2d06;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    text-align: center;
    font-size: 50px;
}

/* ta chamando a div com id monkey */
#monkey {
background: #fff;
color:#4d2d06;
font-family: Verdana, Arial, sans-serif;
}

#donkey {
    background: green;
    font-family: monospace;
}

/* chamamos uma classe usando . */
.primary-box {
    background: #222;
    color: #eee;
}

.secondary-box {
    background: #eee;
    color: #222; 
}

.inside-box {
    margin: 20px 0;
    padding: 10px;
    background: #94efff;
    color:#555;
}

/* Descendant Selectors */
.primary-box h2 {
    font-family: Arial, Helvetica, sans-serif;
}

/* Aqui está indicando que na classe .primary-box, tag <p> e dentro de p tag <em> 
se colocar somente <em> também funcionará, mas ai todas tag <em> ficarão com as config abaixo */
.primary-box p em {
    color: #32b0ff;
}

.secondary-box p {
    font-family: Arial, Helvetica, sans-serif;
}

.secondary-box p em {
    color: #fc3fff;
}

/* Grouping Selectors - usamos a virgula para seletores diferentes que terão mesmo valor 
devemos manter configurações similares agrupadas para ter um código limpo*/
.primary-box, .secondary-box {
    font-size: 24px;
    margin: 0 0 10px;
    padding: 10px;
}

.inside-box h3, .inside-box p {
    font-size: 20px;
}
